<div>{{ section.settings.asd }}</div>
<div>{{ section.settings.asdritchText }}</div>
{% for block in section.blocks %}
  <img src="{{ block.settings.image | img_url:  'grande'}}"/>  
{% endfor %}

{%schema%}
    {
        "name": "mysection",
        "settings": [
            {
                "type": "color",
                "label": "use your mind",
                "id": "asd"
            },
            {
              "type": "richtext",
              "label": "another thing you can change",
              "id": "asdritchText"
            }
        ],
        "blocks": [
          {
            "type": "image",
            "name": "image block",
            "settings": [
              {
                "type": "image_picker",
                "label": "your image",
                "id": "image"
              }
            ]
          }
        ],
        "presets": [
          {
            "category": "images",
            "name": "icons with text"
          }
        ]
        
    }
{%endschema%}