
{% for block in section.blocks %}
  <div style="background-color: {{ block.settings.color }}; width: 150px; height: 50px">1555</div>
{% endfor %}

{%schema%}
    {
        "name": "mysection",
        "settings": [
        {
          "type": "text",
          "label": "simple text",
          "id": "sectionText"
        },
            {
                "type": "color",
                "label": "use your mind",
                "id": "asd"
            },
            {
              "type": "richtext",
              "label": "another thing you can change",
              "id": "asdritchText"
            }
        ],
        "blocks": [
          {
            "type": "image",
            "name": "image block",
            "settings": [
              {
                "type": "color",
                "label": "your image",
                "id": "color"
              }
            ]
          }
        ],
        "presets": [
          {
            "category": "color_blocks",
            "name": "icons with text"
          }
        ]
        
    }
{%endschema%}