
{% for block in section.blocks %}
  <div style="background-color: {{ section.settings.asd }}; width: 50px; height: 50px">asddd</div>
{% endfor %}

{%schema%}
    {
        "name": "mysection",
        "settings": [
            {
                "type": "color",
                "label": "use your mind",
                "id": "asd"
            },
            {
              "type": "richtext",
              "label": "another thing you can change",
              "id": "asdritchText"
            }
        ],
        "blocks": [
          {
            "type": "image",
            "name": "image block",
            "settings": [
              {
                "type": "color",
                "label": "your image",
                "id": "color"
              }
            ]
          }
        ],
        "presets": [
          {
            "category": "images",
            "name": "icons with text"
          }
        ]
        
    }
{%endschema%}